      -----
      Shawware Java Utility Code
      -----
      David Shaw

Overview

  A collection of simple utility classes for use in Java development.

  This project is also used for exploring software development technologies, eg. Eclipse, Maven, JUnit, Git and GitHub.
  Consequently, the code and tests are often pedantic.

Project Information

* Project Home (@GitHub)

  {{https://github.com/shawware/Util}}

* Maven Coordinates

  ${project.groupId}:${project.artifactId}:${project.version}

* Java Packages

  au.com.shawware.util

Owner And Copyright Notice

  Copyright \u00a9 2013 {{{http://www.shawware.com.au/}shawware.com.au}}

License

  {{{http://www.gnu.org/copyleft/gpl.html}GNU GPL}}
